<html>

    <head>

      <title>Django and GEE</title>

      {{ map.header.render|safe }}
      
    </head>

<body>

      <div class="row">
        <div class="col-lg-11">
          {{map.html.render|safe}}
        </div>
        <div class="col-lg-1 text-center">
          <h3><strong>MY Name Is Aminodin</strong></h3>
          <hr>
          <h4>This Is Intractive Web Map <hr>(Using Goolge Map API In Django)</h4>
          <br>
          <h5>Github : <a href="https://github.com/AminodinAkbari"target="_blank" rel="noopener noreferrer">github.com/AminodinAkbari</a></h5>
          <h5>Linkdin : <a href="https://www.linkedin.com/in/aminodin-akbari-5327b5225"target="_blank" rel="noopener noreferrer">Linkdin.com</a></h5>


        </div>
      </div>

      <script>

        {{ map.script.render|safe }}

      </script>

</body>